.suatChieu__content {
  padding: 3px 10px;
  text-align: center;
  background-color: transparent;
  //   float: left;
  border-radius: 7px;
  border: 1px solid #e4e4e4;
  font-weight: 500;
  margin: 0 15px 15px 0;
  transition: all 0.5s;
  width: 110px;
  & span:first-child {
    color: var(--primary-color);
    font-size: 15px;
  }
  & span:last-child {
    color: white;
    font-size: 12px;
  }
  &:hover {
    border-color: var(--primary-color);
  }
}

@media screen and(max-width: 450px) {
  .suatChieu__content {
    border: 1px solid var(--primary-color);
    span:last-child {
      color: #0000008a;
      font-size: 12px;
    }
  }
}

.swal-button {
  cursor: pointer;
  background-image: linear-gradient(
    -225deg,
    var(--light-color) 0%,
    var(--primary-color) 48%,
    var(--secondary-color) 100%
  );
  border: 1px solid var(--primary-color);
  background-color: unset;
  padding: 7px 19px;
  border-radius: 3px;
  // width: 12%;
  color: #fff;
  transition: all 0.5s;
  &.swal-button--cancel {
    background-image: none;
    background-color: #6c757d;
    border: none;
  }
}
